 *
    {
      box-sizing: border-box;
    }
* {
  padding: 0;
  margin: 0
}

/* Styling for ###BODY### part */
body
{
  background-image:radial-gradient(circle,white,grey,black);
	background-size: cover;
}

    html,
    body
    {
      font-family: 'Montserrat', sans-serif;
      
      align-items: center;
    }
	/* Start of header  */
header{
	display: inline-flex;
		width:100%;
		background-color:rgba(0,0,0,0.7);
    left: 0;
    bottom: 0;

}
.head p{
	color:white;
  font-weight: bold;
	/* text-align:center; */
	font-weight:250;
	font-size:26px;
	margin-top: 20px;
  margin-left: 460px!important;

}
.head{
	box-sizing:border-box;
	height:70px;
		width:100%;
    margin-left: 15px;

}

img
{
	width : 70px;
  height: 70px;

}
.button{
	float:right;
	display: inline-flex;
    width: 15%;
   border-radius:15px;
   height:10%;
   margin-top:15px;
	margin-right:15px;
}
.pic{
	border-radius: 50%;
	margin-right:5px;
	margin-top:2px;
	margin-bottom:2px;
}
.name {
	
	padding-top:25px;
	padding-right:5px;
	color:white;
}
.kusu{
	margin-right:5px;
	margin-left:5px;	
}
.social
{
	background:rgba(251,37,37,1);
	box-sizing:border-box;
	font-family:sans-serif;
	border:1px solid black;
	border-radius:5px;
	width:100%;
	font-size: 15px;
	padding: 10px;
  color: white;
}
.social:hover
{
	background:rgba(251,37,37, 01);
	transition: 0.2s;
  color: black;
}
/* end of header  */
/*  navigation bar  */
.topnav {
  overflow: hidden;
  background-color: rgba(0,0,0,0.7);
  border-radius: 15px;
  border: 1px solid black;
  margin-top: 9PX;
}

.topnav a {
  float: left;
  color: WHITE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  border-right: 1px solid white;

}

.topnav a:hover {
  background-color: rgba(251,37,37,1);
  color: BLACK;
}

.topnav a.active {
  background-color: rgba(251,37,37,1);
  color: BLACK;
}

#searching
{
  float: right;
  border:none;
  padding: 8px;
  margin-top: 6px;
  margin-right: 25px;
  background-color: grey;
  color: white;
  border-radius: 15px;
}

    .checkout-panel
    {
      display: flex;
      flex-direction: column;
      width: 940px;
      height: 640px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
	  margin-left:200px;
	  margin-top:5px;
	  margin-bottom:5px;
    }

    .panel-body
    {
      padding: 45px 80px 0;
      flex: 1;
	 
    }

    .title
    {
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 40px;
      color: #2e2e2e;
    }

    .payment-method
    {
      display: flex;
      margin-bottom: 60px;
      justify-content: space-between;
    }

    .method
    {
      display: flex;
      flex-direction: column;
      width: 382px;
      height: 122px;
      padding-top: 20px;
      cursor: pointer;
      background-color: rgb(192, 192, 192);
      justify-content: center;
      align-items: center;
    }

    .card-logos
    {
      display: flex;
      width: 150px;
      justify-content: space-between;
      align-items: center;
    }

    .radio-input
    {
      margin-top: 10px;
    }

    input[type='radio']
    {
      display: inline-block;
    }

    .input-fields
    {
      display: flex;
      justify-content: space-between;
    }

    .input-fields label
    {
      display: block;
      margin-bottom: 10px;
      color: #b4b4b4;
    }

    .info
    {
      font-size: 12px;
      font-weight: 300;
      display: block;
      margin-top: 50px;
      opacity: .5;
      color: #2e2e2e;
    }

    div[class*='column']
    {
      width: 382px;
    }

    .column-1 input[type='text'],
    input[type='password']
    {
      font-size: 16px;
      width: 100%;
      height: 50px;
      padding-right: 40px;
      padding-left: 16px;
      color: rgba(46, 46, 46, .8);
      border: 1px solid rgb(225, 225, 225);
      border-radius: 4px;
      outline: none;
    }


    .small-inputs
    {
      display: flex;
      margin-top: 20px;
      justify-content: space-between;
    }

    .small-inputs div
    {
      width: 182px;
    }

    .panel-footer
    {
      display: flex;
      width: 100%;
      height: 96px;
      padding: 0 80px;
      background-color: #c0c0c0;
      align-items: center;
    }

    .btn
    {
      font-size: 16px;
      width: 163px;
      height: 48px;
      border: none;
      cursor: pointer;
      border-radius: 23px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .back-btn
    {
      color: #f62f5e;
      background: #fff;
      margin-left: 20px;
      margin-right: 20px;
    }

    .next-btn
    {
      color: #fff;
      background: #f62f5e;
      margin-left: 20px;
      margin-right: 20px;
    }
	/* start of footer  */
.foot{
        background-color:rgba(0,0,0,0.7);
        color: white;
		width:100%;
		position: absolute;
		right: 0;
		/* bottom: 0; */
		left: 0;
    height: 25px;
    padding-top: 5px;


}
.foot p{
right:5px;
font-family:sans-serif;
text-align:left;
}
.row{
	float:right;
	margin-top:-20px;
	margin-right:35px;

}


.fa1
{
  border-radius: 5px;
  border: 1px solid black;
  padding: 3px;
  width: 15px;
}
.fa1:hover
{
  background-color: rgba(251,37,37, 0.4);
  transition: 1s;
}
.fa-facebook
{
  color:blue;
}
.fa-google
{
  color:red;
}
.fa-twitter
{
  color:skyblue;
}
.fa-instagram
{
  color:pink;
}
/* end of footer  */